<p>login works!</p>

<form>
    <div style="width:50%;">
        <div>
            <label>Username</label>
        </div>
        <div>
            <input type="text" class="form-control" name="username" value="">
        </div>
        <div>
            <label>Password</label>
        </div>
        <div>
            <input type="password" class="form-control" name="password" value="">
        </div>
        <br>
        <p>
            <button class="btn btn-sm btn-success" (click)="login()" type="button">Login</button>
            <button class="btn btn-sm btn-danger" (click)="cancel()" type="button">Cancel</button>
        </p>
    </div>
</form>